<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="include :: header('修改数据')"/>
</head>
<body>
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form th:action="@{/user/{action}(action=${action})}" method="post" class="form-horizontal m">

            <input type="hidden" name="id" th:value="${list.id}"/>

            <div class="row">
                <label class="col-sm-3 control-label">工作编号:</label>
                <div class="col-sm-8">
                    <input type="text" name="workId" th:value="${list.workId}"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">用户名称:</label>
                <div class="col-sm-8">
                    <input type="text" name="userName" th:value="${list.userName}"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">登录名称:</label>
                <div class="col-sm-8">
                    <input type="text" name="loginName" th:value="${list.loginName}"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">登录密码:</label>
                <div class="col-sm-8">
                    <input type="text" name="password" th:value="${list.password}"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">登录类型:</label>
                <div class="col-sm-8">
                    <input type="text" name="userType" th:value="${list.userType}"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">电子邮箱:</label>
                <div class="col-sm-8">
                    <input type="text" name="email" th:value="${list.email}"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">联系方式:</label>
                <div class="col-sm-8">
                    <input type="text" name="phoneNumber" th:value="${list.phoneNumber}"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">性别:</label>
                <div class="col-sm-8">
                    <input type="text" name="sex" th:value="${list.sex}"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">头像路径:</label>
                <div class="col-sm-8">
                    <input type="text" name="avatar" th:value="${list.avatar}"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">状态</label>
                <div class="col-sm-2">
                    <select name="status" class="form-control" th:selected="${list.status}">
                        <option name="在线" th:selected="${list.status} eq '在线'">在线</option>
                        <option name="下线" th:selected="${list.status} eq '下线'">下线</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 control-label">
                    <input type="submit" value="提交" class="btn btn-primary"/>
                </div>
                <div class="col-sm-8" style="margin-top: 8px">
                    <input type="button" value="返回" class="btn" onclick="history.back()"/>
                </div>
            </div>
        </form>
    </div>
</body>
</html>