<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
<!--            如果不配置就会自动检测是那个数据库-->
            <property name="helperDialect" value="mysql"/>
<!--           如报错 自动检测 优化数据-->
            <property name="reasonable" value="true"/>
<!--            多数据源使用 默认为false  ,多数据源：一个是mysql，一个是oracle数据  什么类型的数据-->
            <property name="autoRuntimeDialect" value="false"/>

        </plugin>
    </plugins>
</configuration>